@model IQueryable<Title>
		   
@using NetFlixFrontEnd.NetFlixService
@{
	ViewBag.Title = "Home Page";
}

<style type="text/css">
.slideshow { height: 467px; width: 406px; margin: auto }
.slideshow div.MovieCell { padding: 15px; border: 1px solid #ccc; background-color: #eee; }

.Rating
{
	margin-left: 1em
}

.MovieTitle
{
}

div.MovieHost
{
	position: relative
}

.MovieIndex
{
	font-size: 144pt;
	color: #C0B0A0;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 20pt;
	left: -30pt;
}

img.BoxArt
{
	text-align: center;
}
</style>

<!-- include Cycle plugin -->Index
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.MovieIndex').hide();
        $('.slideshow').cycle({
            fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
            before: function (currSlideElement, nextSlideElement, options, forwardFlag) {
                $(nextSlideElement).children('.MovieIndex').delay(2000).fadeIn('slow');
            }
        });
    });
</script>

<h2>@ViewBag.Message</h2>

<div class="slideshow">
	@{
		int index = 1;
		foreach (Title movie in Model)
		{
			<div class="MovieHost">
				@Html.Partial("_MovieTitle", movie)
				<span class="MovieIndex">@index</span>
			</div>
			index = index + 1;
		}
	}
</div>